// Place all the styles related to the Flights controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


.container {
  margin: 10px;
}

.find-flight-form {
  display: flex;
  flex-direction: column;
  width: 80%;
  gap: 0.5rem;
  align-items: center;
}

.find-flight-form>* {
  width: 80%;
}

.flight-details {
  border: solid darkorchid 2px;
  border-radius: 5px;
  box-sizing: border-box;
  padding: 5px;
  width: 80%;
}

.flight-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  border: 1px solid peru;
  width: 100%;
  padding: 0.5rem;
  background-color: lightpink;
  //Prevent Select
  -webkit-user-select: none;
  /* Safari */
  -ms-user-select: none;
  /* IE 10 and IE 11 */
  user-select: none;
  /* Standard syntax */
}

.flight-container:hover {
  background-color: darkcyan;
}

.container-selected,
.container-selected:hover {
  background-color: deepskyblue;
}





.flight-attribute {
  text-align: center;
}

.flight-duration {
  grid-column: span 2;
}

.flight-select {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  gap: 15px;
}

.submit-button {
  height: 4rem;
  width: 15rem;
  max-width: 100%;
  font-weight: bold;
}

.flight-radio {
  grid-column: span 2;
  text-align: center;
  padding: 0.5rem;

}

.flight-radio>* {
  height: 1.5rem;
  border: 0px;
  width: 100%;
}

.selected-flight {
  text-align: center;
}

.passenger-fields {
  display: grid;
  grid-template-columns: 1fr;
  gap: 0.5rem;
}